@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');


* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: #A3D9FF;
}

#worldMap {
    width: 100%;
    height: 100vh;
    transition: 1s;
    z-index: 5;
}

#container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#slide {
    width: 100%;
    height: 100vh;
    transition: transform .2s;
}

#kzSvgDetails {
    visibility: hidden;
}

#emptyKzSvgPath {
    fill: black;
}

@media screen and (orientation: landscape) {
    .zoom {
        transform: scale(5) translateY(10%) translateX(5%);
    }

    .zoomAtyrau {
        transform: scale(17) translateY(8%) translateX(10%);
    }

    .zoomMangystau {
        transform: scale(17) translateY(6%) translateX(10%);
    }

    .zoomAlmaty {
        transform: scale(17) translateY(6%) translateX(3%);
    }

    .zoomAktobe {
        transform: scale(17) translateY(9%) translateX(8%);
    }

    .zoomKyzylorda {
        transform: scale(17) translateY(6%) translateX(6.5%);
    }

    .zoomTurkystan {
        transform: scale(17) translateY(7%) translateX(6.5%);
    }

    .zoomAqmola {
        transform: scale(17) translateY(12%) translateX(5%);
    }

    .zoomPavlodar {
        transform: scale(17) translateY(12%) translateX(3%);
    }

    .info-page {
        flex-direction: row;
    }

    .info-page__slider {
        display: none;
    }

    /* info card */
    .top-slide {
        width: 50%;
        height: 50vh;
    }

    .info-page__info {
        width: 50%;
    }

}

@media screen and (orientation: portrait) {
    .zoom {
        transform: scale(5) translateY(4%) translateX(10%);
    }

    .zoomAtyrau {
        transform: scale(17) translateY(4.5%) translateX(17%);
    }

    .zoomMangystau {
        transform: scale(17) translateY(3.5%) translateX(16%);
    }

    .zoomAlmaty {
        transform: scale(17) translateY(3%) translateX(4%);
    }

    .zoomAktobe {
        transform: scale(17) translateY(5.3%) translateX(13.3%);
    }

    .zoomKyzylorda {
        transform: scale(17) translateY(3.5%) translateX(11.3%);
    }

    .zoomTurkystan {
        transform: scale(17) translateY(3%) translateX(9%);
    }

    .zoomAqmola {
        transform: scale(17) translateY(7%) translateX(8%);
    }

    .zoomPavlodar {
        transform: scale(17) translateY(7%) translateX(5%);
    }

    /* info page*/
    .info-page__slider {
        display: block;
    }

    .top-slide {
        width: 100%;

    }

    .info-page__info img {
        width: 100%;
    }

}

body, html {
    font-family: 'Roboto Slab', serif;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
}


/* card */

.cards {
    position: absolute;
    width: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    z-index: 5;
    margin-top: 50px;
    visibility: hidden;
}

#iqseOneFourCard #cardOne .card__img,
#iqseOneFourCard #cardOne .card__img--hover {
    background-image: url('../image/images/1.png');
    background-size: cover;
}

#iqseOneFourCard #cardTwo .card__img,
#iqseOneFourCard #cardTwo .card__img--hover {
    background-image: url('../image/images/2.png');
    background-size: cover;
}

#iqseOneFourCard #cardThree .card__img,
#iqseOneFourCard #cardThree .card__img--hover {
    background-image: url('../image/images/3.png');
    background-size: cover;
}

#iqseOneFourCard #cardFour .card__img,
#iqseOneFourCard #cardFour .card__img--hover {
    background-image: url('../image/images/4.png');
    background-size: cover;
}

#iqseFiveCard #cardOne .card__img,
#iqseFiveCard #cardOne .card__img--hover {
    background-image: url('../image/images/5.png');
    background-size: cover;
}

#iqseSixCard #cardOne .card__img,
#iqseSixCard #cardOne .card__img--hover {
    background-image: url('../image/images/7.png');
    background-size: cover;
}

#shymkentCard #cardOne .card__img,
#shymkentCard #cardOne .card__img--hover {
    background-image: url('../image/images/10.png');
    background-size: cover;
}

#shymkentCard #cardTwo .card__img,
#shymkentCard #cardTwo .card__img--hover {
    background-image: url('../image/images/10.png');
    background-size: cover;
}

#aktobeCard #cardOne .card__img,
#aktobeCard #cardOne .card__img--hover {
    background-image: url('../image/images/13.png');
    background-size: cover;
}

#pavlodarCard #cardOne .card__img,
#pavlodarCard #cardOne .card__img--hover {
    background-image: url('../image/images/16.png');
    background-size: cover;
}

#iqsOneCard #cardOne .card__img,
#iqsOneCard #cardOne .card__img--hover {
    background-image: url('../image/images/19.png');
    background-size: cover;
}

#iqsSecondCard #cardOne .card__img,
#iqsSecondCard #cardOne .card__img--hover {
    background-image: url('../image/images/22.png');
    background-size: cover;
}

.card__img {
    visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 230px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.card__img--hover {
    transition: 0.2s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    height: 235px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    top: 0;
}

.card {
    color: #232323;
    margin-right: 25px;
    transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
    background-color: #fff;
    width: 270px;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.card:hover {
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
    transform: scale(1.10, 1.10);
}

.card__info {
    z-index: 2;
    background-color: #fff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 16px 24px 24px 24px;
}

.card__category {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #868686;
    text-decoration: none;

}

.card--a {
    text-decoration: none;
    color: #232323;
}

.card--a:hover {
    text-decoration: none;
    color: #232323;
}

.card__title {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: bold;
    font-size: 15px;
}

.card__by {
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.card__author {
    font-weight: 600;
    text-decoration: none;
    color: #AD7D52;
}

.card:hover .card__img--hover {
    height: 100%;
    opacity: 0.3;
}

.card:hover .card__info {
    background-color: transparent;
    position: relative;
}

.card:hover .card__info-hover {
    opacity: 1;
}

/* end cards */

.info-page {
    position: absolute;
    left: -2000px;
    height: 100vh;
    background: #fff;
    z-index: 20;
    transition: 1s;
    width: 100%;
}

.info-page__header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.top-slide {
    height: 25vh;
    object-fit: cover;
}

.info-page__info .logo {
    margin: 10px;
    color: #232323;
    position: absolute;
    height: 35vh;
    width: 80px;
    right: 0;
    vertical-align: center;
}

.info-page__header img {
    height: 100px;
}

.info-page__header h3 {
    margin-top: 30px;
}

.info-page__info img {

    height: 35vh;
}

.info-page__slider {
    height: 30vh;
    border: 1px solid green;
}

.info-page__slider .logo {
    position: absolute;
    width: 100px;
    margin: 20px;
}